<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Calendrier{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="{{ asset('') }}" />

    {% block stylesheets %}

        <!-- Appel CSS Boostrap -->
        <link rel="stylesheet" href="{{ asset ('bundles/vlagenda/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset ('bundles/vlagenda/css/bootstrap-theme.min.css') }}"/>

        <!-- Font Google -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>

        <!-- Appel feuille de style -->
        <link rel="stylesheet" href="{{ asset ('') }}"/>

        <link href="{{ asset('bundles/vlagenda/css/fullcalendar.css') }}" rel='stylesheet' />

    {% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Appel Jquery -->
            <script src="{{ asset ('bundles/vlagenda/js/jquery-3.0.0.min.js') }}"></script>
            <script src="{{ asset ('bundles/vlagenda/js/jquery-2.0.0.min.js') }}"></script>

            <!-- Appel JavaScript Bootstrap -->
            <script src="{{ asset ('bundles/vlagenda/js/bootstrap.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
